* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/IMG/skulls.png");
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  position: relative;
  top:1%;
  left:50%;
  transform: translate(-50%);
  height: 10vh;
  max-width: 1500px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.61);
  background-color: white;
  text-align: center;
  line-height: 10vh;
  font-size: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
  top:2%;
  left:50%;
  transform: translate(-50%);
  min-height: 400px;
  max-width: 1500px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.61);
  background-color: white;
}

.day {
  height: 200px;
  width: 250px;
  margin:20px;
  background-color: rgb(96, 97, 96);
  border: 1px solid black;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.61);
  border-radius: 10px;
  color: white;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
}

.done {
  font-size: 30px;
  background-color: rgb(164, 219, 150);
}

a {
  text-decoration: none;
}